/* Hack for IE to display the margin on #right properly */
/** html #right {width:597px;} */

/* Body Styles */

body
{
margin: 20px;
background-image: url(../images/beton2.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
text-align: center;
font-size: 11px; 
color: #ffffff; 
line-height: 1.5em;
font-family: Calibri, Tahoma, Verdana, Arial, Helvetica, sans-serif
}

div.transbox
  {
  width:850px;
  height:auto;
  margin:0 auto 0 auto;
  /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
  border:none;
  text-align:center;
  }

div.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
  
div.banner
	{
  width:800px;
  height:150px;
  margin:0 auto 0 auto;
  background-color:#000000;
  	}

div.transbox.p
	{
	font-size: 11px; 
	color: #ffffff; 
	}

